spring:
  datasource:
    url: jdbc:mysql://localhost:3306/enhance?serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: rlarudrb119!

  jpa:
    database: mysql
    properties:
      hibernate:
        format_sql: true
        show-sql: true
    hibernate:
      ddl-auto: update

application:
  security:
    jwt:
      secret: bcad30ae46b2275aca348cfe19cb0c164a88512f055613213f06fa2493c6c58f